:root {
    --padding: 0.9rem;
}

* {
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-start: 1.25rem;

   
}


.job-box {
    display: grid;
    grid-template-columns: 200px auto;
    background: #e9ecef;
    width: 44rem;
    padding-inline: 20px;
    gap: 20px; 
}

.job-box img {
    margin-block: 1.25rem;
    padding: 1.25rem;
    background: #ffffff;
}

.location {
    margin-block-start: 0;
}

h2 {
    margin-block-end: 2px;
}

.search {
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 1.75rem;
    background: #f6f6f6;
}

.search-input {
    font-size: 1.08rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: none;
    width: 20rem;
}

.search-input::placeholder,
.search-icon {
    color: rgba(0,0,0,0.5);
}

@media (width <= 700px) {
    .job-box {
        grid-template-columns: auto;
        width: 22rem;
        gap: 1px;
    }

    .job-box h2 {
        margin: 0;
    }

    .search {
        width: 20rem;
    }
}

